@import url("https://fonts.googleapis.com/css?family=Bad+Script|Gloria+Hallelujah|Julius+Sans+One|Raleway:400,700|Yeon+Sung&display=swap");

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Yeon Sung', cursive; 
*/

:root {
  --butter: rgba(255, 251, 0, 0.972);
  --brown-butter: brown;
  --dark: brown;
  --page_header: "Gloria Hallelujah", cursive;
  --page_title: "Julius Sans One", sans-serif;
  --record_content: "Raleway", sans-serif;
}

.albums-button,
.artists-button,
.songs-button {
}

.add-button {
  background-color: green;
  color: white;
}

.add-button:hover {
  background-color: rgba(0, 128, 0, 0.719);
}

button {
  background-color: yellow;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

button:hover {
  background-color: rgb(253, 255, 109);  
  color: green;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
}

.content-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 1rem;
  margin-right: 20rem;
}

.content-container-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content-record {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--record_content);
  justify-content: flex-start;
  padding: 0.2rem;
}

.content-record-item {
  margin-right: .5rem;
  padding: 0.1rem;
}

.content-record-item-name a {
    color: var(--dark);
    text-decoration: none;
}

.content-record-item-name a:hover {
    color: var(--butter);
}

.delete-button {
  background-color: red;
  color: white;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.534);
  color: white;
}

.dropdown__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  
}

.dropdown__data-label {
  font-family: var(--page_header);
  padding-right: 10px;
}

.dropdown__data-text {
 font-family: var(--record_content);
}

.form__label {
  font-family: var(--page_header);
}

.form__data {
  font-family: var(--record_content);
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-fieldset {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  background-color: yellow;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  text-align: center;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h2:hover {
    color: green;
    animation: shake 0.6s;
    animation-iteration-count: 1;
}

.nav-button {
  font-family: var(--page_title);
  margin: 1rem;
  padding: 0.25rem;
}

.page-header {
  font-family: var(--page_header);
  margin: 1rem;
}

.page-title {
  font-family: var(--page_header);
  margin: 1rem;
}

.wrapper {
}
